<div class="p-4 chat-message-list chat-group-list" data-simplebar>
    <ul id="list-friends" class="list-unstyled chat-list">
        <% list_friends.forEach(function(friend) { %>
            <li data-uid=<%= friend.user_id %> chat-type="chat_personal" >
                <div class="media align-items-center friend-item">
                    <div class="chat-user-img mr-3 show-modal-chat-persional">
                        <div class="avatar-xs">
                            <img src=<%= `/assets/images/users/${friend.avatar}` %>   class="rounded-circle avatar-xs" alt="">
                        </div>
                    </div>
                    <div class="media-body overflow-hidden show-modal-chat-persional pdtb-20">
                        <h5 class="text-truncate font-size-14 mb-0"><%= friend.username %></h5>
                    </div>
                    <div class="dropdown">
                        <a href="JavaScript:void(0);" class="text-muted dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a data-uid=<%= friend.user_id %> class="dropdown-item btn-view-user-profile user-profile-show" href="JavaScript:void(0);">Xem hồ sơ <i class="fa fa-user float-right text-muted" aria-hidden="true"></i></a>
                            <a data-uid=<%= friend.user_id %> class="dropdown-item btn-block-friend " href="JavaScript:void(0);">Chặn <i class="ri-forbid-line float-right text-muted"></i></a>
                            <a data-uid=<%= friend.user_id %> class="dropdown-item btn-unfriend" href="JavaScript:void(0);">Hủy kết bạn <i class="ri-delete-bin-line float-right text-muted"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
</div>