<div class="tab-pane" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
    <style>
        .status-user-online, .status-user-offline{
            width: 10px;
            height: 10px;
            background-color: #4ed037;
            border-radius: 50%;
            display: inline-block;
            margin-right: 3px;
        }
        .status-user-offline{background-color: #f15f5f;}

        .form-user-edit-infor{
            font-size: 14px;
            border: 1px solid #7269ef;
        }
        .form-user-edit-infor:focus{
            border: 2px solid #7269ef !important;
            outline: none;
        }

    </style>
  <!-- Start Settings content -->
  <div>
      <div class="px-4 pt-4">
          <h4 class="mb-0">Cài đặt</h4>
      </div>

      <div class="text-center border-bottom p-4">
          <div class="mb-4 profile-user">
              <img id="test-img-user-avatar" src="" alt="" style="display: none;">
              <img id="img-user-avatar" src=<%= `/assets/images/users/${user.avatar}` %> class="rounded-circle avatar-lg img-thumbnail" alt="" >
              <button onclick="document.getElementById('user-selectet-avatar').click()" type="file" class="btn bg-light avatar-xs p-0 rounded-circle profile-photo-edit">
                  <i class="ri-pencil-fill"></i>
              </button>
              <input type="file" id="user-selectet-avatar" accept="image/*" style="display: none;" />
          </div>

          <h5 class="font-size-16 mb-1 text-truncate"><%= user.username %> </h5>
          <div class="dropdown d-inline-block mb-1">
              <a class="text-muted dropdown-toggle pb-1 d-block" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <div class="status-user-online"></div> Đang hoạt động <i class="mdi mdi-chevron-down"></i>
              </a>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><div class="status-user-online"></div> Đang hoạt động</a>
                <a class="dropdown-item" href="#"><div class="status-user-offline"></div> Ngoại tuyến</a>
              </div>
          </div>
      </div>
      <!-- End profile user -->

      <!-- Start User profile description -->
      <div class="p-4 user-profile-desc" data-simplebar>

          <div id="profile-setting-accordion" class="custom-accordion">
              <div class="card shadow-none border mb-2">
                  <a href="#profile-setting-personalinfocollapse" class="text-dark" data-toggle="collapse"
                                  aria-expanded="true"
                                  aria-controls="profile-setting-personalinfocollapse">
                      <div class="card-header" id="profile-setting-personalinfoheading">
                          <h5 class="font-size-14 m-0">
                              Hồ sơ
                              <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                          </h5>
                      </div>
                  </a>

                  <div id="profile-setting-personalinfocollapse" class="collapse show"
                          aria-labelledby="profile-setting-personalinfoheading" data-parent="#profile-setting-accordion">
                      <div class="card-body">

                          <div class="float-right">
                              <button id="btn-user-edit-profile" type="button" class="btn btn-light btn-sm"><i class="ri-edit-fill mr-1 align-middle"></i> Chỉnh sửa</button>
                              <button id="btn-user-save-edit-profile" type="button" class="btn btn-light btn-sm" style="background-color: #7269ef; color: white;" ><i class="fa fa-hdd-o mr-1 align-middle" aria-hidden="true"></i> Lưu lại</button>
                              <button id="btn-user-cancel-edit-profile" type="button" class="btn btn-light btn-sm" style="background-color: rgb(238 79 118); color: white;" ><i class="fa fa-ban mr-1 align-middle" aria-hidden="true"></i> Hủy bỏ</button>
                          </div>

                          <div class="persional-information">
                              <p class="text-muted mb-1">Họ Tên</p>
                              <h5 id="setting-profile-username" class="font-size-14"><%= user.username %> </h5>
                          </div>
                          
                          <div class="mt-4 persional-information">
                              <p class="text-muted mb-1">Email</p>
                              <h5 id="setting-profile-email" class="font-size-14">
                                  <% if(user.local.email) %> <%= user.local.email %> 
                                  <% if(user.facebook.email) %> <%= user.facebook.email %> 
                                  <% if(user.google.email) %> <%= user.google.email %> 
                              </h5>
                          </div>

                          <div class="mt-4 persional-information">
                              <p class="text-muted mb-1">Tuổi</p>
                              <h5 id="setting-profile-age" class="font-size-14">
                                  <% if(user.age) {%> <%= user.age %>
                                  <%} else {%> Chưa cập nhập <% } %>
                              </h5>
                          </div>

                          <div class="mt-4 persional-information">
                              <p class="text-muted mb-1">Địa chỉ</p>
                              <h5 id="setting-profile-address" class="font-size-14 mb-0">
                                  <% if(user.address){ %> <%= user.address %>
                                  <% } else { %> Chưa cập nhập <% } %>
                              </h5>
                          </div>

                          <div class="mt-4 persional-information">
                              <p class="text-muted mb-1">Lớp</p>
                              <h5 id="setting-profile-class" class="font-size-14 mb-0">
                                <% if(user.class){ %> <%= user.class %>
                                <% } else { %> Chưa cập nhập <% } %>
                              </h5>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end profile card -->
              <div class="card shadow-none border mb-2">
                  <a href="#profile-setting-privacycollapse" class="text-dark collapsed" data-toggle="collapse"
                                  aria-expanded="false"
                                  aria-controls="profile-setting-privacycollapse">
                      <div class="card-header" id="profile-setting-privacyheading">
                          <h5 class="font-size-14 m-0">
                              Quyền riêng tư
                              <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                          </h5>
                      </div>
                  </a>
                  <div id="profile-setting-privacycollapse" class="collapse" aria-labelledby="profile-setting-privacyheading"
                          data-parent="#profile-setting-accordion">
                      <div class="card-body">
                          <div class="py-3">
                              <div class="media align-items-center">
                                  <div class="media-body overflow-hidden">
                                      <h5 class="font-size-13 mb-0 text-truncate">Anbum ảnh</h5>

                                  </div>
                                  <div class="dropdown ml-2">
                                      <button class="btn btn-light btn-sm dropdown-toggle w-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Tất cả mọi người <i class="mdi mdi-chevron-down"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Tất cả mọi người</a>
                                        <a class="dropdown-item" href="#">Bạn bè</a>
                                        <a class="dropdown-item" href="#">Chỉ mình tôi</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="py-3 border-top">
                              <div class="media align-items-center">
                                  <div class="media-body overflow-hidden">
                                      <h5 class="font-size-13 mb-0 text-truncate">Nhận lời mời kết bạn</h5>

                                  </div>
                                  <div class="ml-2">
                                      <div class="custom-control custom-switch">
                                          <input type="checkbox" class="custom-control-input" id="privacy-lastseenSwitch" checked>
                                          <label class="custom-control-label" for="privacy-lastseenSwitch"></label>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="py-3 border-top">
                              <div class="media align-items-center">
                                  <div class="media-body overflow-hidden">
                                      <h5 class="font-size-13 mb-0 text-truncate">Trạng thái hoạt động</h5>

                                  </div>
                                  <div class="dropdown ml-2">
                                      <button class="btn btn-light btn-sm dropdown-toggle w-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Tât cả mọi người <i class="mdi mdi-chevron-down"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Tất cả mọi người</a>
                                        <a class="dropdown-item" href="#">Bạn bè</a>
                                        <a class="dropdown-item" href="#">Chỉ mình tôi</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="py-3 border-top">
                              <div class="media align-items-center">
                                  <div class="media-body overflow-hidden">
                                      <h5 class="font-size-13 mb-0 text-truncate">Chỉ nhận tin nhắn từ bạn bè</h5>

                                  </div>
                                  <div class="ml-2">
                                      <div class="custom-control custom-switch">
                                          <input type="checkbox" class="custom-control-input" id="privacy-readreceiptSwitch">
                                          <label class="custom-control-label" for="privacy-readreceiptSwitch"></label>
                                      </div>
                                  </div>
                              </div>
                          </div>
  
                          <div class="py-3 border-top">
                              <div class="media align-items-center">
                                  <div class="media-body overflow-hidden">
                                      <h5 class="font-size-13 mb-0 text-truncate">Hồ sơ cá nhân</h5>

                                  </div>
                                  <div class="dropdown ml-2">
                                      <button class="btn btn-light btn-sm dropdown-toggle w-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Tất cả mọi người <i class="mdi mdi-chevron-down"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="#">Tất cả mọi người</a>
                                          <a class="dropdown-item" href="#">Bạn bè</a>
                                          <a class="dropdown-item" href="#">Chỉ mình tôi</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="py-3 border-top">
                            <div class="media align-items-center">
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-13 mb-0 text-truncate">Xóa tin nhắn khi người nhận đã xem</h5>

                                </div>
                                <div class="ml-2">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="privacy-auto-remove-message">
                                        <label class="custom-control-label" for="privacy-auto-remove-message"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                      </div>
  
                  </div>
              </div>
              <!-- end Privacy card -->

              <div class="card shadow-none border mb-2">
                  <a href="#profile-setting-securitynoticollapse" class="text-dark collapsed" data-toggle="collapse"
                                  aria-expanded="false"
                                  aria-controls="profile-setting-securitynoticollapse">
                      <div class="card-header" id="profile-setting-securitynotiheading">
                          <h5 class="font-size-14 m-0">
                              Bảo mật
                              <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                          </h5>
                      </div>
                  </a>
                  <div id="profile-setting-securitynoticollapse" class="collapse" aria-labelledby="profile-setting-securitynotiheading"
                          data-parent="#profile-setting-accordion">
                      <div class="card-body">
  
                          <div class="py-3">
                              <div class="media align-items-center">
                                  <div class="media-body overflow-hidden">
                                      <h5 class="font-size-13 mb-0 text-truncate">Nhận thông đăng nhập lạ</h5>

                                  </div>
                                  <div class="ml-2">
                                      <div class="custom-control custom-switch">
                                          <input type="checkbox" class="custom-control-input" id="security-notificationswitch">
                                          <label class="custom-control-label" for="security-notificationswitch"></label>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="py-3 border-top">
                                <div class="media align-items-center">
                                    <div class="media-body overflow-hidden">
                                        <h5 class="font-size-13 mb-0 text-truncate">Bảo mật 2 lớp</h5>

                                    </div>
                                    <div class="ml-2">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="security-two-level">
                                            <label class="custom-control-label" for="security-two-level"></label>
                                        </div>
                                    </div>
                                </div>
                          </div>

                      </div>
                  </div>
              </div>
              <!-- end Security card -->

              <div class="card shadow-none border mb-2">
                  <a href="#profile-setting-helpcollapse" class="text-dark collapsed" data-toggle="collapse"
                                  aria-expanded="false"
                                  aria-controls="profile-setting-helpcollapse">
                      <div class="card-header" id="profile-setting-helpheading">
                          <h5 class="font-size-14 m-0">
                              Trợ giúp
                              <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                          </h5>
                      </div>
                  </a>
                  <div id="profile-setting-helpcollapse" class="collapse" aria-labelledby="profile-setting-helpheading"
                          data-parent="#profile-setting-accordion">
                      <div class="card-body">
  
                          <div>
                              <div class="py-3">
                                  <h5 class="font-size-13 mb-0"><a href="#" class="text-body d-block">FAQs</a></h5>
                              </div>
                              <div class="py-3 border-top">
                                  <h5 class="font-size-13 mb-0"><a href="#" class="text-body d-block">Liên hệ với chúng tôi</a></h5>
                              </div>
                              <div class="py-3 border-top">
                                  <h5 class="font-size-13 mb-0"><a href="#" class="text-body d-block">Điều khoản sử dụng</a></h5>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end Help card -->
          </div>
          <!-- end profile-setting-accordion -->
      </div>
      <!-- End User profile description -->
  </div>
  <!-- Start Settings content -->
</div>