<div class="tab-pane" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
  <div class="title-top">
      <ul>
          <li title="Thông báo" id="btn-list-notice-received" class="active" >
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              <span class="badge badge-soft-danger badge-pill">01</span>
          </li>
          <li title="Lời mời kết bạn nhận được" id="btn-list-contacts-sent">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              <span class="badge badge-soft-danger badge-pill">01</span>
          </li>
          <li title="Lời mời kết bạn đã gửi" id="btn-list-contacts-received">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <span class="badge badge-soft-danger badge-pill">01</span>
          </li>
      </ul>
  </div>
  <div class="px-2 list-notify-list-req-contact">
        <div id="list-notice-received" data-simplebar></div>
        <div id="list-contacts-sent" data-simplebar>
            <div class="list-title"><h5 class="mb-4">Lời mời đã gửi</h5></div>
            <div class="simplebar-content" style="padding: 0px;">
                <ul id="content-list-contacts-sent" class="list-unstyled chat-list chat-user-list">
                    <% list_contact_sent.forEach(function(contact){%>
                        <li data-uid=<%= contact.user_id %> >
                            <a href="javascript: void(0);" >
                                <div class="media">
                                    <div class="chat-user-img align-self-center mr-3 user-profile-show">
                                        <img src=<%= `/assets/images/users/${contact.avatar}` %> class="rounded-circle avatar-xs" alt="">
                                    </div>
                                    <div class="media-body overflow-hidden user-profile-show">
                                        <h5 class="text-truncate font-size-15 mb-1"><%= contact.username %></h5>
                                        <div class="font-size-11"><%= contact.human_time %></div>
                                    </div>
                                    <!-- <div class="btn btn-primary font-size-10 btn-lg chat-send waves-effect waves-light mr-1">Chấp nhận</div> -->
                                    <div data-uid=<%= contact.user_id %> class="btn btn-danger font-size-10 btn-lg chat-send waves-effect waves-light">Hủy</div>
                                </div>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div id="list-contacts-received" data-simplebar>
            <div class="list-title"><h5 class="mb-4">Lời mời nhận được</h5></div>
            <div class="simplebar-content" style="padding: 0px;">

                <ul id="content-list-contacts-received" class="list-unstyled chat-list chat-user-list">
                    <li>
                        <a href="javascript: void(0);" class="user-profile-show">
                            <div class="media">
                                <div class="chat-user-img align-self-center mr-3">
                                    <img src="/assets/images/users/avatar-4.jpg" class="rounded-circle avatar-xs" alt="">
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="text-truncate font-size-15 mb-1">Doris Brown</h5>
                                    <div class="font-size-11">10:12 AM</div>
                                </div>
                                <div class="btn btn-primary font-size-10 btn-lg chat-send waves-effect waves-light mr-1">Chấp nhận</div>
                                <div class="btn btn-danger font-size-10 btn-lg chat-send waves-effect waves-light">Hủy</div>
                                
                            </div>
                        </a>
                    </li>
                    <li class="unread">
                        <a href="javascript: void(0);" class="user-profile-show">
                            <div class="media">
                                <div class="chat-user-img align-self-center mr-3">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            D
                                        </span>
                                    </div>
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="text-truncate font-size-15 mb-1">Designer</h5>
                                    <div class="font-size-11">12:01 PM</div>
                                </div>
                                <div class="btn btn-primary font-size-10 btn-lg chat-send waves-effect waves-light mr-1">Chấp nhận</div>
                                <div class="btn btn-danger font-size-10 btn-lg chat-send waves-effect waves-light">Hủy</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="user-profile-show">
                            <div class="media">
                                <div class="chat-user-img align-self-center mr-3">
                                    <img src="/assets/images/users/avatar-6.jpg" class="rounded-circle avatar-xs" alt="">
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="text-truncate font-size-15 mb-1">Steve Walker</h5>
                                    <div class="font-size-11">03:20 PM</div>
                                </div>
                                <div class="btn btn-primary font-size-10 btn-lg chat-send waves-effect waves-light mr-1">Chấp nhận</div>
                                <div class="btn btn-danger font-size-10 btn-lg chat-send waves-effect waves-light">Hủy</div>
                                
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
  </div>
</div>
